body {
    background-color: #161a30;
}
h1 {
    display: flex;
    margin-top: 10rem;
    margin-left: 3rem;
    color: #e4f1ff;
    font-size: 60px;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4ram 7%;
    background-color: rgb(148, 0, 255);
    border-bottom: 3px solid red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar .navbar-logo {
    margin-left: 1rem;
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
    color: red;
}
.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid red;
    transform: scaleX(0);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 4rem;
}

#hamburger-menu {
    display: none;
}

/* hero section */

/* media queries */

.card p {
    position: absolute;
    margin-left: 7rem;
    color: #fff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* .card p {
    position: relative;
    background: #161a30 center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p::after {
    content: attr(p);
    position: absolute;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
} */
/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }
}

/* handphone */

@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}
